In [1]:
import pandas as pd
titanic_df = pd.read_csv(r'C:\01_Study\003_Machine_learning\titanic_train.csv')

indexes = titanic_df.index 
print(indexes)

print('\nIndex 객체 array값:\n', indexes.values)

RangeIndex(start=0, stop=891, step=1)

Index 객체 array값:
 [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665
 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683
 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701
 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719
 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737
 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755
 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773
 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791
 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809
 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827
 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845
 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863
 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881
 882 883 884 885 886 887 888 889 890]

In [ ]:
print(type(indexes.values))
print('\n')
print(indexes.values.shape)
print('\n')
print(indexes[:5].values)
print('\n')
print(indexes.values[:5])
print('\n')
print(indexes[6])

In [ ]:
series_fair = titanic_df['Fare']
print('sereis_fair :\n',series_fair)
print('\nFair Series max :', series_fair.max())
print('Fair Series sum :', series_fair.sum())
print('sum( Fair Series :', sum(series_fair))
print('\nFaire Series +3 :\n', (series_fair + 3).head(3) )

In [ ]:
titanic_reset_df = titanic_df.reset_index(inplace = False)
titanic_reset_df.head(3)

In [ ]:
print('### before reset_index ###')
value_counts = titanic_df['Pclass'].value_counts()
print(value_counts)
print('### Pclass의 고유값 1,2,3의 개수를 알려줌 ###')
print('value_counts 객체 변수 타입:',type(value_counts))

new_value_counts = value_counts.reset_index(inplace=False)
print('\n### After reset_index ###')
print(new_value_counts)
print('new_value_counts 객체 변수 타입:',type(new_value_counts))

In [ ]:
print('단일 컬럼 데이터 추출:\n', titanic_df[ 'Pclass' ].head(3))
# 첫째 컬럼은 Index
print('\n여러 컬럼들의 데이터 추출:\n', titanic_df[ ['Survived', 'Pclass'] ].head(3))
# print('[ ] 안에 숫자 index는 KeyError 오류 발생:\n', titanic_df[0])
titanic_df[0 : 2]

In [ ]:
titanic_df[ titanic_df ['Pclass'] == 3 ].head(3)
# 'Pclass' column에 3인 애들만 row 방향 순서대로 3개

In [ ]:
print('컬럼 위치 기반 인덱싱 데이터 추출:',titanic_df.iloc[0,2])
print('컬럼명 기반 인덱싱 데이터 추출:',titanic_df.loc[0,'Pclass'])
# .ix 사용하면 이제 Error 발생

In [ ]:
data = {'Name': ['Chulmin', 'Eunkyung','Jinwoong','Soobeom'],
        'Year': [2011, 2016, 2015, 2015],
        'Gender': ['Male', 'Female', 'Male', 'Male']
       }
# 중괄호 사용
data_df = pd.DataFrame(data, index=['one','two','three','four'])
data_df
# index = ['one','two','three','four'] 안쓰면 default 값 0, 1, 2, 3 나옴

In [ ]:
# data_df 를 reset_index() 로 새로운 숫자형 인덱스를 생성
data_df_reset = data_df.reset_index()
data_df_reset = data_df_reset.rename(columns={'index':'old_index'})

# index 값에 1을 더해서 1부터 시작하는 새로운 index값 생성
data_df_reset.index = data_df_reset.index+1
data_df_reset

In [ ]:
data_df_reset.iloc[0,1]
# indexing을 바꿔도 iloc은 column x row 로 인식하므로 (0,1)을 반환한다.

In [ ]:
data_df.loc['one', 'Name']
# loc은 기본적으로는 문자형을 받아서 사용

In [ ]:
data_df_reset.loc[1, 'Name']
# index가 integer면 상수 넣어도 댐

In [ ]:
data_df_reset.loc[0, 'Name']
# 그치만 0이라는 index는 없으므로 오류가 반환된다. 이는 iloc와는 좀 다른 개념

In [ ]:
print('위치기반 iloc slicing\n', data_df.iloc[0:1, 0],'\n')
# 기본적으로 slicing(: 사용하는 표현)은 0:3 이면 0, 1, 2 처럼 종료값-1 까지 하는걸 원칙으로 하므로 one, Chulmin 만 반환한다.
print('명칭기반 loc slicing\n', data_df.loc['one':'two', 'Name'])
# 하지만 loc는 숫자가 아닌 값을 인덱스로 사용하는 경우가 있어서 시작~종료 모두 나오게 된다. 이건 어쩔 수 없이 헷갈리는 부분이다. 납득하자

In [ ]:
# 특히 더 헷갈리는 경우는 loc에 정수형 index를 넣는 경우인데 뭐 방법은 없고 외우거나 익숙해 져야지뭐..
print(data_df_reset.loc[1:2 , 'Name'])

In [ ]:
titanic_df = pd.read_csv('titanic_train.csv')

titanic_boolean = titanic_df[titanic_df['Age'] > 60] # 조건식을 []에 넣어준다.
print(type(titanic_boolean))
titanic_boolean # 이러면 알아서 찾아줌

In [ ]:
titanic_df[titanic_df['Age'] > 60][['Name','Age']].head(3)

In [ ]:
titanic_df.loc[titanic_df['Age'] > 60, ['Name','Age']].head(3)

In [ ]:
# -----------------------------------------------------중요------------------------------------------------- #
# -----------------------------------------------------중요------------------------------------------------- #
# -----------------------------------------------------중요------------------------------------------------- #

titanic_df[ (titanic_df['Age'] > 60) & (titanic_df['Pclass']==1) & (titanic_df['Sex']=='female')]

# -----------------------------------------------------중요------------------------------------------------- #
# -----------------------------------------------------중요------------------------------------------------- #
# -----------------------------------------------------중요------------------------------------------------- #

In [ ]:
cond1 = titanic_df['Age'] > 60
cond2 = titanic_df['Pclass']==1
cond3 = titanic_df['Sex']=='female'
titanic_df[ cond1 & cond2 & cond3]